html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: #222020;
}

.photobooth {
  padding: 20px;
  background: #222020;
  max-width: 150rem;
  margin: 2rem auto;
  border-radius: 2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  margin-top: 10px;
  width: 60%;
  float: left;
  padding: 20px;
  background: #222020;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}

label{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px;
  color:#adc9da;
  font-weight: bold;
}

button{
  padding: 10px;
  margin:10px;
}

button:hover{
  color:#adc9da;
  background-color:#283044
}

/*
  Strip!
*/

.strip {
  padding: 6rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
